services:
  # Backend API Spring Boot
  - type: web
    name: login-auth-api
    runtime: docker
    dockerfilePath: ./login-auth-api/login-auth-api/Dockerfile
    envVars:
      - key: PORT
        value: 8080
      - key: TOKEN_SECRET
        generateValue: true
      - key: ALLOWED_ORIGINS
        value: https://login-page-frontend.onrender.com,http://localhost:4200
    healthCheckPath: /auth/login
    autoDeploy: true

  # Frontend Angular
  - type: web
    name: login-page-frontend
    env: static
    buildCommand: npm ci && npm run build -- --configuration=production
    staticPublishPath: dist/login-page/browser
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    autoDeploy: true
