@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F3F6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7001FD;
  border-radius: 5px;
  border: 2px solid #F1F3F6;

}

::-webkit-scrollbar-thumb:hover {
  background: #5A01D4;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7001FD #F1F3F6;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #7001FD #F1F3F6;
}
